.chart-stage .knob-title {
  border-bottom: medium none;
  font-size: 18px;
  text-align: center;
}
.jquery-knob {}

.nav-tabs-left {
  border-bottom: medium none;
  border-right: 1px solid #ddd;
  margin: 0;
  min-height: 200px;
}
.nav-tabs-left li {
  float: none;
  margin: 0 -1px 4px 0;
}
.nav-tabs-left li > a {
  margin-right: 0;
}
.nav-tabs-left li > a:focus,
.nav-tabs-left li > a:hover {
  background: #fbfbfb;
  border-bottom-color: #fbfbfb;
  border-right-color: #ddd;
  border-radius: 4px 0 0 4px;
}
.nav-tabs-left li.active > a {
  border-bottom-color: #ddd;
  border-right-color: transparent;
  border-radius: 4px 0 0 4px;
}


.nav-tabs {
  padding-top: 20px;
  padding-left: 10px; }


.nav-tabs > li > a {
  text-align: center; }


.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
