a, a:focus, a:hover, a:active {
  color: #00afd7;
}

h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
  margin: 12px 0;
}
h1 {
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.03em;
  line-height: 36px;
  margin: 12px 0;
}
h2 {
  color: #2a333c;
  font-weight: 200;
  font-size: 21px;
}
h3 {
  color: rgb(84, 102, 120);
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -0.28px;
  line-height: 29.39px;
}




.masthead {
  background-color: #00afd7;
  color: #fff;
  margin: 0 0 24px;
  padding: 40px 0 20px;
}

.masthead h1 {
  margin: 5px 0;
}
.masthead small,
.masthead a,
.masthead a:focus,
.masthead a:hover,
.masthead a:active {
  color: #fff;
}

.masthead p {
  color: #b3e7f3;
  font-weight: 200;
}


.sample-item {
  margin-bottom: 24px;
}



/*
 * Full-page application style
 */

body.application {
  background: #f2f2f2;
  padding: 60px 20px 0;
}
body.application > .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
body.application div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
body.application div[class^="col-"] div[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

body.application hr {
  border-color: #d7d7d7;
  margin: 10px 0;
}



.navbar-inverse {
  background-color: #3d4a57;
  border-color: #333;
}
.navbar-inverse .navbar-nav > li > a,
.navbar a.navbar-brand {
  color: #fbfbfb;
  text-decoration: none;
}

.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
}
.chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  /*min-height: 240px;*/
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}
