* {
  box-sizing: border-box; }

img {
  max-width: 100%; }

.banner {
  background: url(http://placekitten.com/1500/350) no-repeat;
  height: 350px; }
  .banner .header {
    position: relative;
    top: 70px; }

.banner-profile {
  background: #eee;
  padding: 10px;
  width: 250px;
  margin-top: -65px;
  opacity: .9; }

.wrapper {
  top: -42px;
  position: relative; }

.sidebar-container {
  border-radius: 30px; }
  .sidebar-container .sidebar-navs {
    margin-top: 20px; }

.main-container .content-wrapper {
  padding: 1px 20px 18px 20px;
  border-bottom: 1px solid #d7d7d7;
  margin-top: 25px; }
  .main-container .content-wrapper .main-content {
    margin-top: 10px; }

.navbar-inverse {
  background-color: #3d4a57;
  border-color: #333; }

.navbar-inverse .navbar-nav > li > a,
.navbar a.navbar-brand {
  color: #fbfbfb; }

.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px; }

.chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #555;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 10px 5px; }

.chart-wrapper .chart-stage {
  min-height: 240px;
  padding: 5px 10px; }

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px; }

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  width: 100%;
  border-bottom: 0; }

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none; }

.tab-content > .active,
.pill-content > .active {
  display: block; }

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none; }

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px; }

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd; }

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px; }

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee; }

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff; }
