* {
  box-sizing: border-box; }

img {
  max-width: 100%; }

.banner {
  background: #2a99d1; }
  .banner .header .profile-name {
    position: relative;
    top: 80px; 
    left: 200px;
    font-size: 36px;
    color: #fbfbfb; }
  .banner .header .profile-last {
    position: relative;
    top: 45px;
    left: 200px;
    font-size: 16px;
    color: #fbfbfb; }
  .banner .header > hr {
    position: relative;
    top: 60px; }

.wrapper {
  top: -22px;
  position: relative; }

.sidebar-container {
  border-radius: 30px; }
  .sidebar-container .sidebar-navs {
    margin-top: 20px; }
.sidebar-container .img-thumbnail {
  width: 100%;
  height: 100%; 
  margin-left: -10px; }

.main-container .content-wrapper {
  padding: 1px 20px 18px 20px;
  border-bottom: 1px solid #d7d7d7;
  margin-top: 25px; }
  .main-container .content-wrapper .main-content {
    margin-top: 10px; }

.navbar-collapse {
  background: #2a99d1; 
  padding-left: 40px;
  padding-right: 50px; }

.navbar-nav > li > a,
.navbar a.navbar-brand {
  color: #fbfbfb; }

.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px; }

.chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #555;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 10px 5px; }

.chart-wrapper .chart-stage {
  min-height: 240px;
  padding: 5px 10px; }

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px; }

.tabs-left .nav-pills {
  padding-top: 20px; 
  width: 90%; }

.tabs-left > .nav-pills > li > a {
  margin-bottom: 20px; 
  font-size: 18px; 
  text-align: center; }

.tabs-left > .nav-pills .active > a,
.tabs-left > .nav-pills .active > a:hover,
.tabs-left > .nav-pills .active > a:focus {
  background-color: #2a99d1; 
  border-color: #2a99d1; }
