<!DOCTYPE html>
<html>
<head>
  <title>Dashboard Layouts, by Keen IO</title>
  <link rel="stylesheet" href="../assets/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/keen-dashboards.css">
</head>
<body>
  <a href="https://github.com/keen/dashboards"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
  
  <div class="masthead">
    <div class="container">
      <h1><a href="../"><small class="glyphicon glyphicon-chevron-left"></small></a> Layouts</h1>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <div class="row">

        <div class="col-sm-4 sample-item">
          <h2><a href="./quarter-grid/">Quarter Grid</a></h2>
          <a href="./quarter-grid/"><img class="img-responsive img-thumbnail" src="./quarter-grid/preview.png"></a>
          <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/quarter-grid/">Source Code</a>
        </div>

        <div class="col-sm-4 sample-item">
          <h2><a href="./thirds-grid/">Thirds Grid</a></h2>
          <a href="./thirds-grid/"><img class="img-responsive img-thumbnail" src="./thirds-grid/preview.png"></a>
          <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/thirds-grid/">Source Code</a>
        </div>

        <div class="col-sm-4 sample-item">
          <h2><a href="./hero-thirds/">Hero Thirds</a></h2>
          <a href="./hero-thirds/"><img class="img-responsive img-thumbnail" src="./hero-thirds/preview.png"></a>
          <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/hero-thirds/">Source Code</a>
        </div>

      </div>
      <div class="row">

        <div class="col-sm-4 sample-item">
          <h2><a href="./split-centered/">Split Centered</a></h2>
          <a href="./split-centered/"><img class="img-responsive img-thumbnail" src="./split-centered/preview.png"></a>
          <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/split-centered/">Source Code</a>
        </div>

        <div class="col-sm-4 sample-item">
          <h2><a href="./split-columns/">Split Columns</a></h2>
          <a href="./split-columns/"><img class="img-responsive img-thumbnail" src="./split-columns/preview.png"></a>
          <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/split-columns/">Source Code</a>
        </div>

        <div class="col-sm-4 sample-item">
          <h2><a href="./split-rows/">Split Rows</a></h2>
          <a href="./split-rows/"><img class="img-responsive img-thumbnail" src="./split-rows/preview.png"></a>
          <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/split-rows/">Source Code</a>
        </div>

      </div>

      <div class="row">

        <div class="col-sm-4 sample-item">
          <h2><a href="./hero-sidebar/">Hero Sidebar</a></h2>
          <a href="./hero-sidebar/"><img class="img-responsive img-thumbnail" src="./hero-sidebar/preview.png"></a>
          <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/hero-sidebar/">Source Code</a>
        </div>

        <div class="col-sm-4 sample-item">
          <h2><a href="./two-and-one/">two-and-one</a></h2>
          <a href="./two-and-one/"><img class="img-responsive img-thumbnail" src="./two-and-one/preview.png"></a>
          <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/two-and-one/">Source Code</a>
        </div>
      </div>
    </div>
  </div>

  <script src="../assets/lib/jquery/dist/jquery.min.js"></script>
  <script src="../assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../assets/lib/keen-js/dist/keen.min.js"></script>
  <script src="../assets/js/meta.js"></script>
</body>
</html>
