<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Dashboard Layouts, by Keen IO</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <link href="https://cloud.typography.com/737368/747986/css/fonts.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="../assets/css/keen-static.css" />
  <link rel="stylesheet" type="text/css" href="../assets/css/keen-dashboards.css" />
</head>

<body>

  <div class="masthead">
    <div class="container">
      <h1><a class="return-link" href="../"><svg xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="76.39 132.243 15.35 22" width="20" height="20"
            fill="#fff">
            <defs>
              <path id="a"
                d="M88.31 136.63c.29-.28.43-.63.43-1.05 0-.41-.14-.76-.43-1.04-.08-.09-.78-.78-.86-.87-.29-.28-.64-.43-1.05-.43-.41 0-.76.15-1.05.43-.75.75-6.78 6.77-7.53 7.53-.29.28-.43.63-.43 1.04 0 .42.14.76.43 1.05.75.75 6.78 6.77 7.53 7.53.29.28.64.42 1.05.42.41 0 .76-.14 1.05-.42.08-.09.78-.78.86-.87.29-.29.43-.63.43-1.04 0-.41-.14-.76-.43-1.05-.37-.38-2.24-2.25-5.61-5.61 3.37-3.37 5.24-5.24 5.61-5.62z" />
            </defs>
            <use xlink:href="#a" />
            <use xlink:href="#a" />
          </svg>
          Layouts</a></h1>
    </div>
  </div>

  <div class="content">
    <div class="container grid grid-simple-col-3">
      <div class="sample-item">
        <h2><a href="./quarter-grid/">Quarter Grid</a></h2>
        <a href="./quarter-grid/"><img class="img-responsive img-thumbnail" src="./quarter-grid/preview.png"></a>
        <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/quarter-grid/">Source Code</a>
      </div>
      <div class="sample-item">
        <h2><a href="./thirds-grid/">Thirds Grid</a></h2>
        <a href="./thirds-grid/"><img class="img-responsive img-thumbnail" src="./thirds-grid/preview.png"></a>
        <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/thirds-grid/">Source Code</a>
      </div>
      <div class="sample-item">
        <h2><a href="./hero-thirds/">Hero Thirds</a></h2>
        <a href="./hero-thirds/"><img class="img-responsive img-thumbnail" src="./hero-thirds/preview.png"></a>
        <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/hero-thirds/">Source Code</a>
      </div>
      <div class="sample-item">
        <h2><a href="./split-centered/">Split Centered</a></h2>
        <a href="./split-centered/"><img class="img-responsive img-thumbnail" src="./split-centered/preview.png"></a>
        <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/split-centered/">Source Code</a>
      </div>
      <div class="sample-item">
        <h2><a href="./split-columns/">Split Columns</a></h2>
        <a href="./split-columns/"><img class="img-responsive img-thumbnail" src="./split-columns/preview.png"></a>
        <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/split-columns/">Source Code</a>
      </div>
      <div class="sample-item">
        <h2><a href="./split-rows/">Split Rows</a></h2>
        <a href="./split-rows/"><img class="img-responsive img-thumbnail" src="./split-rows/preview.png"></a>
        <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/split-rows/">Source Code</a>
      </div>
      <div class="sample-item">
        <h2><a href="./hero-sidebar/">Hero Sidebar</a></h2>
        <a href="./hero-sidebar/"><img class="img-responsive img-thumbnail" src="./hero-sidebar/preview.png"></a>
        <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/hero-sidebar/">Source Code</a>
      </div>
      <div class="sample-item">
        <h2><a href="./two-and-one/">two-and-one</a></h2>
        <a href="./two-and-one/"><img class="img-responsive img-thumbnail" src="./two-and-one/preview.png"></a>
        <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/two-and-one/">Source Code</a>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="love">
        <p><a href="https://keen.io">Keen IO</a></p>
      </div>
    </div>
  </div>

  <!-- Project Analytics -->
  <script type="text/javascript" src="../assets/js/keen-analytics.js"></script>
</body>

</html>