<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Dashboard Layouts, by Keen IO</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/737368/747986/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="../assets/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../assets/css/keen-static.css" />
  <link rel="stylesheet" type="text/css" href="../assets/css/keen-dashboards.css" />
</head>
<body>

  <div class="masthead">
    <div class="container">
      <h1><a class="return-link" href="../"><small class="glyphicon glyphicon-chevron-left"></small> Layouts</a></h1>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <div class="row">

        <div class="col-sm-4 sample-item">
          <h2><a href="./quarter-grid/">Quarter Grid</a></h2>
          <a href="./quarter-grid/"><img class="img-responsive img-thumbnail" src="./quarter-grid/preview.png"></a>
          <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/quarter-grid/">Source Code</a>
        </div>

        <div class="col-sm-4 sample-item">
          <h2><a href="./thirds-grid/">Thirds Grid</a></h2>
          <a href="./thirds-grid/"><img class="img-responsive img-thumbnail" src="./thirds-grid/preview.png"></a>
          <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/thirds-grid/">Source Code</a>
        </div>

        <div class="col-sm-4 sample-item">
          <h2><a href="./hero-thirds/">Hero Thirds</a></h2>
          <a href="./hero-thirds/"><img class="img-responsive img-thumbnail" src="./hero-thirds/preview.png"></a>
          <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/hero-thirds/">Source Code</a>
        </div>

      </div>
      <div class="row">

        <div class="col-sm-4 sample-item">
          <h2><a href="./split-centered/">Split Centered</a></h2>
          <a href="./split-centered/"><img class="img-responsive img-thumbnail" src="./split-centered/preview.png"></a>
          <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/split-centered/">Source Code</a>
        </div>

        <div class="col-sm-4 sample-item">
          <h2><a href="./split-columns/">Split Columns</a></h2>
          <a href="./split-columns/"><img class="img-responsive img-thumbnail" src="./split-columns/preview.png"></a>
          <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/split-columns/">Source Code</a>
        </div>

        <div class="col-sm-4 sample-item">
          <h2><a href="./split-rows/">Split Rows</a></h2>
          <a href="./split-rows/"><img class="img-responsive img-thumbnail" src="./split-rows/preview.png"></a>
          <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/split-rows/">Source Code</a>
        </div>

      </div>

      <div class="row">

        <div class="col-sm-4 sample-item">
          <h2><a href="./hero-sidebar/">Hero Sidebar</a></h2>
          <a href="./hero-sidebar/"><img class="img-responsive img-thumbnail" src="./hero-sidebar/preview.png"></a>
          <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/hero-sidebar/">Source Code</a>
        </div>

        <div class="col-sm-4 sample-item">
          <h2><a href="./two-and-one/">two-and-one</a></h2>
          <a href="./two-and-one/"><img class="img-responsive img-thumbnail" src="./two-and-one/preview.png"></a>
          <a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/two-and-one/">Source Code</a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="love">
        <p>Made with &#9825; in San Francisco</p>
        <p>&copy; 2012&ndash;2015 <a href="https://keen.io">Keen IO</a></p>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="../assets/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../assets/lib/keen-js/dist/keen.min.js"></script>
  <script type="text/javascript" src="../assets/js/meta.js"></script>
</body>
</html>
